<ActionBar title="MAGasin" class="action-bar" [nsRouterLink]="['/home']">
    <ActionItem [nsRouterLink]="['/login']" text="Login" *ngIf="!logged()"></ActionItem>
    <ActionItem text="Logout" (tap)="logout()" *ngIf="logged()"></ActionItem>

    <ActionItem [nsRouterLink]="['/gestion']" *ngIf="logged()" text="Gestion"></ActionItem>
</ActionBar>

<StackLayout *ngIf="category">
    <Label [text]="category.name"></Label>
</StackLayout>

<ListView [items]="product" class="list-group">
    <ng-template let-product="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="vertical" class="list-group-item">

            <Label class="price" [text]="product.price"></Label>
            
            <Image [src]="product.img"></Image>
            <Button [nsRouterLink]="['/single' ,product.id]" class="name" [text]="product.name"></Button>
        </StackLayout>


    </ng-template>
</ListView>