<ActionBar title="MAGasin" class="action-bar" [nsRouterLink]="['/home']">
    <ActionItem [nsRouterLink]="['/login']" text="Login" *ngIf="!logged()"></ActionItem>
    <ActionItem text="Logout" (tap)="logout()" *ngIf="logged()"></ActionItem>
  
    <ActionItem text="category" [nsRouterLink]="['/categoryChoix']"></ActionItem>
    <!-- chemin user option arrenger sa -->
    <ActionItem [nsRouterLink]="['/gestion']" *ngIf="logged()" text="Gestion"></ActionItem>
    
</ActionBar>

<Image src="~/assets/img/online-shop.png"></Image>

<ListView [items]="products" class="list-group">
    <ng-template let-product="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="vertical" class="list-group-item">
            <label class="category" [text]="product.category.name"></label>
            <Label class="price" [text]="product.price" ></Label>
            <Button [nsRouterLink]="['/single' ,product.id]" class="name" [text]="product.name"></Button>
            <Image [src]="product.img"></Image>
           
        </StackLayout>


    </ng-template>
</ListView>