<ActionBar class="action-bar" *ngIf="user" [title]="user.username" [nsRouterLink]="['/home']">
    <ActionItem [nsRouterLink]="['/product-add']" *ngIf="logged()" text="add Product"></ActionItem>
</ActionBar>
<ListView [items]="products" class="list-group">
    <ng-template let-product="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="vertical" class="list-group-item">

            <Label class="price" [text]="product.price"></Label>
            <label class="name" [text]="product.name"></label>
            <Button text="Supprimer" (tap)="deleteProduct(product)"></Button>
        </StackLayout>

    </ng-template>
</ListView>