<ActionBar title="MAGasin" class="action-bar" [nsRouterLink]="['/home']">
    <ActionItem [nsRouterLink]="['/login']" text="Login" *ngIf="!logged()"></ActionItem>
    <ActionItem text="Logout" (tap)="logout()" *ngIf="logged()"></ActionItem>
    <!-- chemin user option arrenger sa -->
    <ActionItem [nsRouterLink]="['/gestion']" *ngIf="logged()"  text="Gestion"></ActionItem>
    
</ActionBar>

<ListView [items]="category" class="list-group">
    <ng-template let-category="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="vertical" class="list-group-item">

            <label class="category" [text]="category.name"></label>
            <Image [src]="tabImg[category.id]"></Image>
            <Button [nsRouterLink] = "['/categoryChoisi', category.id]" text="Click"></Button>
        </StackLayout>


    </ng-template>
</ListView>