<ActionBar title="MAGasin" class="action-bar" [nsRouterLink]="['/home']">
    <ActionItem [nsRouterLink]="['/login']" text="Login" *ngIf="!logged()"></ActionItem>
    <ActionItem text="Logout" (tap)="logout()" *ngIf="logged()"></ActionItem>

    <ActionItem [nsRouterLink]="['/gestion']" *ngIf="logged()" text="Gestion"></ActionItem>
</ActionBar>

<StackLayout *ngIf="product">
    <Label [text]="product.name"></Label>
    <Label [text]="product.description"></Label>
    <Image [src]="product.img"></Image>
</StackLayout>