<ActionBar title="Add product" class="action-bar">
</ActionBar>

<ScrollView orientation="vertical" >
<StackLayout verticalAlignment="center">
    <TextField [(ngModel)]="product.name" hint="Name"></TextField>
    <TextField [(ngModel)]="product.price" hint="Price"></TextField>
    <TextField [(ngModel)]="product.description" hint="description"></TextField>
   
    <Label text="Taille:" textWrap="true" class="h3 p-15 text-left"></Label>

    <!-- Affiche les tailles -->
    <ListPicker  [items]="taille" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>

    <!-- Affiche les categories -->
    <ListPicker *ngIf="cat.length > 0" [items]="cat" selectedIndex="0" (selectedIndexChange)="selectedIndexChangedCat($event)" class="p-15"></ListPicker>
   
    <Button (tap)="takePicture()" text="Take Picture"></Button>
    <Button (tap)="pickPicture()" text="Select Picture"></Button>
    <Button (tap)="add()" text="Add Product"></Button>


</StackLayout>
</ScrollView>